* {
  font-family: "Pretendard Variable", pretendard, system-ui, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

html {
    background-color: #000000; 
}

body {
    margin: 0;
    padding: 0;
    background: #F1F4F9;
    width: 1080px;
    height: 1980px;
    font-family: 'Pretendard', sans-serif;
    position: relative;
}
.container {
    position: relative;
    width: 1080px;
    height: 1980px;
}
.Navi {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1080px;
    height: 237px;
    background: #1E1E1E;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    z-index: 1;
}
.SonyLogo {
    position: absolute;
    top: 49px;
    left: 444px;
    width: 193px;
    height: 34px;
    z-index: 2;
}
.Home {
    position: absolute;
    top: 37px;
    left: 947px;
    width: 74px;
    height: 75px;
    z-index: 3;
}
.button0 {
    position: absolute;
    top: 141px;
    left: 15px;
    width: 254px;
    height: 76px;
    background: #FFFFFF;
    border-radius: 30px;
    z-index: 4;
}

.Text10 {
    position: absolute;
    top: 120px;
    left: 89px;
    font-size: 35px;
    font-weight: 500;
    color: #000000;
    z-index: 5;
}

.Text11, .Text12, .Text13 {
    position: absolute;
    font-size: 35px;
    color: #FFFFFF;
    font-weight: 500;
    z-index: 6;
}
.Text11 { top: 120px; left: 353px; }
.Text12 { top: 120px; left: 638px; }
.Text13 { top: 120px; left: 898px; }

.Main {
    position: absolute;
    left: 330px;
    top: 317px;
}

.logo {
    position: absolute;
    left: 473px;
    top: 317px;
}

.S1 {
    position: absolute;
    left: 110px;
    top: 1611px;
}

.S2 {
    position: absolute;
    left: 550px;
    top: 1611px;
}

.L {
    position: absolute;
    left: 35px;
    top: 547px;    
}

.R {
    position: absolute;
    left: 991px;
    top: 547px;    
}

.Text {
    position: absolute;
    top: 774px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    font-weight: 600;
    color: #000;
    text-align: center;
}

.Text1 {
    position: absolute;
    top: 899px;
    left: 87px;
    width: 908px;
    height: 131px;
    font-size: 37px;
    color: #000;
    text-align: center;
    line-height: 140%;
}

.Text2 {
    position: absolute;
    top: 1118px;
    left: 110px;
    width: 421px;
    height: 527px;
    font-size: 27px;
    color: #000;
    text-align: left;
    line-height: 55px;
}

.Text2a {
    position: absolute;
    top: 1118px;
    left: 574px;
    width: 396px;
    height: 400px;
    font-size: 27px;
    color: #000;
    line-height: 55px;
    text-align: left;
}

.Text3 {
    position: absolute;
    top: 1157px;
    left: 110px;
    width: 396px;
    height: 280px;
    font-size: 32px;
    color: #000;
    line-height: 55px;
    text-align: left;
}

.Text3a {
    position: absolute;
    top: 1157px;
    left: 574px;
    width: 396px;
    height: 320px;
    font-size: 32px;
    color: #000;
    line-height: 55px;
    text-align: left;
}

.Text3b {
    position: absolute;
    top: 1400px;
    left: 574px;
    width: 257px;
    height: 160px;
    font-size: 32px;
    color: #000;
    line-height: 45px;
    text-align: left;    
}

.L {
  transition: 0.3s ease;
  cursor: pointer;
}

.L:hover {
  filter: brightness(50%);
}

.R {
  transition: 0.3s ease;
  cursor: pointer;
}

.R:hover {
  filter: brightness(50%);
}

.Text10 {
  transition: 0.3s ease;
  cursor: pointer;
}

.Text10:hover {
  filter: brightness(50%);
}

.Text11 {
  transition: 0.3s ease;
  cursor: pointer;
}

.Text11:hover {
  filter: brightness(50%);
}

.Text12 {
  transition: 0.3s ease;
  cursor: pointer;
}

.Text12:hover {
  filter: brightness(50%);
}

.Text13 {
  transition: 0.3s ease;
  cursor: pointer;
}

.Text13:hover {
  filter: brightness(50%);
}

.Home {
  transition: 0.3s ease;
  cursor: pointer;
}

.Home:hover {
  filter: brightness(50%);
}

html {
  margin: 0;
  padding: 0;
  background-color: #000;
  width: 100%;
  height: 1980px;
  display: flex;
  justify-content: center;
}

.container {
  width: 1080px;
  height: 1980px;
  position: relative;
}

